#mwm-wrap {
	.nav-tab {
		box-shadow: none;
	}

	.mwm-tab {
		.form-title {
			margin-top: 2rem;
		}

		.form-table {
			background-color: #fff;
			margin-bottom: 1rem;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05),
				0 1px 2px rgba(0, 0, 0, 0.025);

			tr {
				border-bottom: 1px solid #f1f1f1;

				th {
					padding: 1rem;
					@media (max-width: 768px) {
						padding-bottom: 0.5rem;
					}
				}

				td {
					@media (max-width: 768px) {
						padding-left: 1rem;
						padding-bottom: 1rem;
					}

					input[type='text'],
					select {
						width: 25rem;
						border-width: 2px;
						border-color: #cccccc;
						border-radius: 0;
						max-width: 100%;
						height: 2.5rem !important;
						padding: 0.3rem;
						vertical-align: middle;
						box-shadow: none !important;
					}

					input[type='checkbox'].mwm-toggle {
						display: none;
					}

					label.mwm-toggle {
						cursor: pointer;
						text-indent: -9999px;
						width: 4rem;
						height: 1.75rem;
						background: #999;
						display: block;
						border-radius: 10rem;
						position: relative;
					}

					label.mwm-toggle:after {
						content: '';
						position: absolute;
						top: 0.25rem;
						left: 0.25rem;
						width: 1.2rem;
						height: 1.2rem;
						background: #fff;
						border-radius: 10rem;
						transition: 0.2s;
					}

					input:checked + label {
						background: #00cad5;
					}

					input:checked + label:after {
						left: calc(100% - 0.25rem);
						transform: translateX(-100%);
					}

					label:active:after {
						width: 2.4rem;
					}

					.input-group {
						display: table;
						border-collapse: collapse;

						input {
							margin-right: 0;
							border-right: none;
							vertical-align: middle;
							@media (max-width: 768px) {
								border-right: 2px solid #cccccc;
								margin-bottom: 0.5rem;
							}
						}

						button {
							display: table-cell;
							border: 2px solid #00bac3;
							padding: 0.3rem 0.5rem !important;
							vertical-align: middle;
							height: 2.5rem !important;
							background-color: #00cad5;
							color: #ffffff;
							outline: none !important;
							height: unset;
							font-size: 12px;
							font-weight: bold;
							text-shadow: none;
							box-shadow: none;
							text-transform: uppercase;
							transition: all 0.2s ease-in-out;

							&:hover {
								background-color: #f3feff;
								color: #00cad5;
								cursor: pointer;
							}

							&:active {
								background-color: #c5f9fd;
								color: #00cad5 !important;
								transform: none !important;
							}
						}
					}

					div.mwm-option-boxes {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;

						.mwm-option-box {
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							width: 46%;
							margin-bottom: 1%;
							padding: 15px 15px 0 15px;
							border: 2px solid #ccc;
							background-color: #f7f7f7;
							box-shadow: 0 1px 3px rgba(0, 0, 0, 0.025),
								0 1px 2px rgba(0, 0, 0, 0.025);

							transition: all 150ms ease-in-out;

							&:nth-child(odd) {
								margin-right: 0.5%;
							}
							&:nth-child(even) {
								margin-left: 0.5%;
							}

							@media only screen and (max-width: 1601px) {
								& {
									width: 95%;
									&:nth-child(odd) {
										margin-right: 0;
									}
									&:nth-child(even) {
										margin-left: 0;
									}
								}
							}

							label {
								font-weight: bold;
								background-color: transparent;
							}

							&:hover {
								border-color: #00cad5;
								background-color: transparent;
							}

							&.active {
								border-color: #00cad5;
								background-color: transparent;

								&:hover {
									background-color: #f8feff;
								}
							}
						}
					}
				}
			}
		}
	}

	.mwm-content {
		display: flex;
		flex-direction: row;

		.mwm-left-side,
		.mwm-right-side {
		}

		.mwm-left-side {
			width: 75%;
			margin-right: 4rem;
		}

		.mwm-right-side {
			width: 30%;
		}

		.mwm-card {
			margin-top: 2rem;
			border-bottom: 1px solid #f1f1f1;
			padding: 1rem;
			background-color: #fff;
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05),
				0 1px 2px rgba(0, 0, 0, 0.025);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05),
				0 1px 2px rgba(0, 0, 0, 0.025);

			h3 {
				margin: 0;
			}

			p {
				margin-bottom: 0;
			}
		}

		.mwm-table {
			overflow-x: auto;
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05),
				0 1px 2px rgba(0, 0, 0, 0.025);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05),
				0 1px 2px rgba(0, 0, 0, 0.025);

			table {
				width: 100%;
				border-spacing: 0;

				tr {
					th,
					td {
						border-bottom: 1px solid #f1f1f1;
						padding: 1rem;
						background-color: #fff;
					}

					th {
						text-align: left;
					}

					span {
						vertical-align: middle;
					}

					.button-primary {
						float: right;
					}

					&:nth-child(1) {
						th,
						td {
							border-top: 1px solid #f1f1f1;
						}
					}
				}
			}
		}
	}

	.button-primary {
		border: 2px solid #00bac3;
		padding: 0.2rem 0.8rem;
		background-color: #00cad5;
		color: #ffffff;
		height: unset;
		font-weight: bold;
		text-shadow: none;
		box-shadow: none;
		text-transform: uppercase;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: #f3feff;
			color: #00cad5;
		}

		&:active {
			background-color: #c5f9fd;
			color: #00cad5 !important;
			transform: none !important;
		}
	}
}

// Barra superior del admin
#wp-admin-bar-mowomo-dashboard {
	#mwm-admin-bar-logo {
		height: 116%;
		width: auto;
		padding: 6px 0 0 0;
		text-align: center;
		vertical-align: middle;
		opacity: 0.6;
	}

	&:hover {
		#mwm-admin-bar-logo {
			opacity: 1;
		}
	}
}
