#mwm-wrap {

    .nav-tab {
        box-shadow: none;
    }

    .mwm-tab {

        .form-title {
            margin-top: 2rem;
        }
        
        .form-table {
            background-color: #fff;
            margin-bottom: 1rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.025);

            tr {
                border-bottom: 1px solid #f1f1f1;

                th {
                    padding: 1rem;
                    @media (max-width: 768px) {
                        padding-bottom: 0.5rem;
                    }
                }

                td {

                    @media (max-width: 768px) {
                        padding-left: 1rem;
                        padding-bottom: 1rem;
                    }
                    

                    input[type='text'], select {
                        width: 25rem;
                        border-width: 2px;
                        border-color: #cccccc;
                        max-width: 100%;
                        height: 2rem !important;
                        padding: .3rem;
                        vertical-align: middle;
                        box-shadow: none !important;
                    }

                    input[type='checkbox'].mwm-toggle {
                        display: none;
                    }

                    label.mwm-toggle {
                        cursor: pointer;
                        text-indent: -9999px;
                        width: 4rem;
                        height: 1.75rem;
                        background: #999;
                        display: block;
                        border-radius: 10rem;
                        position: relative;
                        
                    }
                    
                    label.mwm-toggle:after {
                        content: '';
                        position: absolute;
                        top: .25rem;
                        left: .25rem;
                        width: 1.20rem;
                        height: 1.20rem;
                        background: #fff;
                        border-radius: 10rem;
                        transition: .2s;
                    }
                    
                    input:checked + label {
                        background: #00cad5;
                    }
                    
                    input:checked + label:after {
                        left: calc(100% - .25rem);
                        transform: translateX(-100%);
                    }
                    
                    label:active:after {
                        width: 2.4rem;
                    }

                    .input-group {
                        display: table;
                        border-collapse: collapse;

                        input {
                            margin-right: 0;
                            border-right: none;
                            vertical-align: middle;
                            @media (max-width: 768px) {
                                border-right: 2px solid #cccccc;
                                margin-bottom: 0.5rem;
                            }
                        }

                        button {
                            display: table-cell;
                            border: 2px solid #00bac3;
                            padding: .3rem !important;
                            vertical-align: middle;
                            height: 2rem !important;
                            background-color: #f3feff;
                            color: #00cad5;
                            outline: none !important;
                            height: unset;
                            font-size: 12px;
                            font-weight: bold;
                            text-shadow: none;
                            box-shadow: none;
                            text-transform: uppercase;
                            transition: all .2s ease-in-out;

                            &:hover {
                                background-color: #00cad5;
                                color: #ffffff;
                                cursor: pointer;
                            }
                            &:active {
                                background-color: #5ed3da;
                            }
                        }
                    }
                }
            }
        }
    }

    .mwm-content {
        display: flex;
        flex-direction: row;

        .mwm-left-side, .mwm-right-side {

        }

        .mwm-left-side {
            width: 70%;
            margin-right: 4rem;
        }

        .mwm-right-side {
            width: 30%;
        }

        .mwm-card {
            margin-top: 2rem;
            border-bottom: 1px solid #f1f1f1;
            padding: 1rem;
            background-color: #fff;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.025);
            box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.025);

            h3 {
                margin: 0;
            }

            p {
                margin-bottom: 0;
            }
        }

        .mwm-table {
            overflow-x: auto;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.025);
            box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.025);

            table {
                width: 100%;
                border-spacing: 0;

                tr {
                    th, td {
                        border-bottom: 1px solid #f1f1f1;
                        padding: 1rem;
                        background-color: #fff;
                    }

                    th {
                        text-align: left;
                    }

                    span {
                        vertical-align: middle;
                    }

                    .button-primary {
                        float: right;
                    }

                    &:nth-child(1) {
                        th, td {
                            border-top: 1px solid #f1f1f1;
                        }
                    }
                }
                
                
            }
        }
    }

    .button-primary {
        border: 2px solid #00bac3;
        padding: .2rem .8rem;
        background-color: #f3feff;
        color: #00cad5;
        height: unset;
        font-weight: bold;
        text-shadow: none;
        box-shadow: none;
        text-transform: uppercase;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: #00cad5;
            color: #ffffff;
        }

        &:active {
            background-color: #5ed3da;
            transform: none !important;
        }
    }
}